.c-button {
    border-radius: 60px;
    background: #CE0033;
    color: #fff;
    text-align: center;
    /* font-family: Poppins; */
    font-size: 20px;
    font-weight: 700;
    min-height: 75px;
    padding: 0 64px;
    border: 1px solid #CE0033;
    cursor: pointer;
}

.c-button:hover {
    color: #CE0033;
    background : #fff;
}

.c-button--small {
    border-radius: 50px;
    min-height: 57px;
    padding: 0 42px;
}